{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'goal_achiever/js/goal_achiever.js' %}"></script>
    <script type="text/javascript" src="{% static 'goal_achiever/js/jquery.cookie.js' %}"></script>
    <title>Goal Achiever</title>
    <link rel="stylesheet"  href="{% static 'goal_achiever/css/goal_achiever.css' %}">
</head>
<body>
    <a href="{% url 'goal_list' %}">-goals-</a>
    <a href="{% url 'task_list' %}">-tasks-</a>
    <a href="{% url 'restriction_list' %}">-restrictions-</a>
    <br>
    ---------------------------------------------------
    {% block content %}
    {% endblock %}
</body>
</html>
